{% extends 'private/base.html.twig' %}

{% block title %}Resumo{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block pageHeading %}Resumo das Viagens{% endblock %}

{% block pageActions %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-flush">
                <div class="card-header pt-7">
                    <h3 class="card-title align-items-center ">
                        <span class="card-label fw-bold text-gray-800">Resumo</span>
                        <p class="m-0 p-0 text-success fs-4">Total {{ trip_school_resume.total_purchases }}</p>
                    </h3>
                    <div class="card-toolbar">
                        {{ form_start(form) }}
                        <div class="d-flex flex-stack flex-wrap gap-4">
                            <div class="d-flex align-items-center fw-bold">
                                <div class="text-gray-400 fs-7 me-2">Viagem</div>
                                {{ form_widget(form.product, { attr: { class: "form-select form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                            </div>
                            <button type="submit" class="btn btn-sm btn-flex h-40px py-2 bg-secondary btn-color-gray-700 btn-active-color-primary fw-bold">
                                <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                    </svg>
                                </span>
                                Filtrar
                            </button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="card-body">


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50%" scope="col"><b>Por escola<b/></th>
                                <th style="width: 50%" scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for school in trip_school_resume.schools_resume %}
                                <tr>
                                    <th scope="row">{{ school.school }}</th>
                                    <td>{{ school.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <br/>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width: 50%" scope="col" ><b>Por estado</b></th>
                                <th style="width: 50%" scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status in trip_school_resume.total_status %}
                                <tr>
                                    <th scope="row">{{ status.status_desc.label }}</th>
                                    <td>{{ status.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>



                    {#                    <div class="col-6">
                                            <div class="mb-2">
                                                <span class="text-gray-700 fw-semibold fs-6">Por escola</span>
                                            </div>
                                            {% for school in trip_school_resume.schools_resume %}
                                                
                                                
                                               
                                                <div class="d-flex fw-semibold align-items-center">
                                                    <div class="text-gray-500 flex-grow-1 me-4">{{ school.school }}</div>
                                                    <div class="fw-bolder">{{ school.total }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                       
                    
                    
                    
                    
                    <div class="col-6">
                                            <div class="mb-2">
                                                <span class="text-gray-700 fw-semibold fs-6">Por estado</span>
                                            </div>
                                            {% for status in trip_school_resume.total_status %}
                                                <div class="d-flex fw-semibold align-items-center">
                                                    <div class="text-gray-500 flex-grow-1 me-4">{{ status.status_desc.label }}</div>
                                                    <div class="fw-bolder">{{ status.total }}</div>
                                                </div>
                                            {% endfor %}
                                        </div>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}