


{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.numFile) }}:
            {{ form_widget(form.numFile, {'attr': {'class': 'form-control form-control-solid '}}) }}
            <span class="text-danger">  {{ form_errors(form.numFile) }}</span>

        </div>

        <div class="form-group">
            {{ form_label(form.cliente) }}:
            {{ form_widget(form.cliente, {'attr': {'class': 'form-control form-control-solid '}})  }}

            <span class="text-danger">      {{ form_errors(form.cliente) }}</span>

        </div>

        <div class="form-group">
            {{ form_label(form.destino) }}:
            {{ form_widget(form.destino, {'attr': {'class': 'form-control form-control-solid '}})  }}

            <span class="text-danger">     {{ form_errors(form.destino) }}</span>

        </div>


        <div class="form-group">
            {{ form_label(form.comercial) }}:
            {{ form_widget(form.comercial, {'attr': {'class': 'form-control form-control-solid '}})  }}

            <span class="text-danger">    {{ form_errors(form.comercial) }}</span>

        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            {{ form_label(form.precoVenda) }}:
            {{ form_widget(form.precoVenda, {'attr': {'class': 'form-control form-control-solid '}})  }}

            <span class="text-danger">    {{ form_errors(form.precoVenda) }} </span>
        </div>


        <div class="form-group">
            {{ form_label(form.valorPago) }}:
            {{ form_widget(form.valorPago, {'attr': {'class': 'form-control form-control-solid '}})  }}
            <span class="text-danger">   {{ form_errors(form.valorPago) }}</span>
        </div>


        <div class="form-group">
            {{ form_label(form.valorPendente) }}:
            {{ form_widget(form.valorPendente, {'attr': {'class': 'form-control form-control-solid '}})  }}
            <span class="text-danger">    {{ form_errors(form.valorPendente) }}</span>
        </div>


        <div class="form-group">
            {{ form_label(form.metodoPagamento) }}:
            {{ form_widget(form.metodoPagamento, {'attr': {'class': 'form-control form-control-solid '}})  }}
            <span class="text-danger">    {{ form_errors(form.metodoPagamento) }}</span>
        </div>


    </div>
</div>
<button type="submit" class="btn btn-primary">{{ button_label }}</button>
{{ form_end(form) }}






{#                    <div class="card-toolbar">
                                          {{ form_start(form) }}
                                          <div class="d-flex flex-stack flex-wrap gap-4">
                                              <div class="d-flex align-items-center fw-bold">
                                                  <div class="text-gray-400 fs-7 me-2">Viagem</div>
                                                  {{ form_widget(form.product, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                              </div>
                                              <div class="d-flex align-items-center fw-bold">
                                                  <div class="text-gray-400 fs-7 me-2">Escola</div>
                                                  {{ form_widget(form.school, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                              </div>
                                              <div class="d-flex align-items-center fw-bold">
                                                  <div class="text-gray-400 fs-7 me-2">Estado</div>
                                                  {{ form_widget(form.status, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                              </div>
                                              <div class="d-flex align-items-center position-relative my-1">
                                                  <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                                      <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                                                      </svg>
                                                  </span>
                                                  {{ form_widget(form.search, { attr: { class: "form-control form-control-solid w-350px ps-14", "data-kt-user-table-filter": "search" } }) }}
                                              </div>
                                              <button type="submit" class="btn btn-sm btn-flex h-40px py-2 bg-secondary btn-color-gray-700 btn-active-color-primary fw-bold">
                                                  <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                                                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                      <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                                      </svg>
                                                  </span>
                                                  Filtrar
                                              </button>
                                          </div>
                                          {{ form_end(form) }}
                                      </div>
                  #}             


