{% extends 'private/base.html.twig' %}

{% block title %}Pagamentos Offline{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block pageHeading %}Pagamentos Offline{% endblock %}

{% block pageBreadcrumb %}
{% endblock %}

{% block pageActions %}
    {#<form action="{{ path('export_trips', { product: product } ) }}" method="post">
        <input type="hidden" name="json" value="{{ search }}">
        <button class="btn btn-sm fw-bold btn-primary" type="submit">Exportar dados</button>
    </form>#}
{% endblock %}

{% block body %}



    <div class="row mb-6">

        <div class="col-md">
            <div class="card card-flush mb-4 mb-md-0">
                <div class="card-header p-5">
                    <div class="card-title d-flex flex-column mb-0">
                        <span class="fs-2hx fw-bold text-white me-2 mb-2 lh-1 ls-n2 text-primary "><div id="soma_totais">0€</div></span>
                        <span class="text-gray-600 pt-1 fw-semibold fs-6">VALOR TOTAL</span>
                        <span class="text-gray-400 fw-semibold fs-6">Somatório de todas as viagens.</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md">
            <div class="card card-flush mb-4 mb-md-0">
                <div class="card-header p-5">
                    <div class="card-title d-flex flex-column mb-0">
                        <span class="fs-2hx fw-bold text-white me-2 mb-2 lh-1 ls-n2 text-success "><div id="soma_verdes">0€</div></span>
                        <span class="text-gray-600 pt-1 fw-semibold fs-6">VALOR PAGO</span>
                        <span class="text-gray-400 fw-semibold fs-6">Somatório de todos os pagamentos efetuados.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-flush mb-4 mb-md-0">
                <div class="card-header p-5">
                    <div class="card-title d-flex flex-column mb-0">
                        <span class="fs-2hx fw-bold text-white me-2 mb-2 lh-1 ls-n2 text-danger"><div id="soma_vermelhos">0€</div></span>
                        <span class="text-gray-600 pt-1 fw-semibold fs-6">VALOR PENDENTE</span>
                        <span class="text-gray-400 fw-semibold fs-6">Somatório de todos os pagamentos em falta.</span>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="row">
        <div class="col-12">
            <div class="card card-flush">
                <div class="card-header pt-7">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bold text-gray-800">Pagamentos Offline</span>
                    </h3>
                    {#                    <div class="card-toolbar">
                                            {{ form_start(form) }}
                                            <div class="d-flex flex-stack flex-wrap gap-4">
                                                <div class="d-flex align-items-center fw-bold">
                                                    <div class="text-gray-400 fs-7 me-2">Viagem</div>
                                                    {{ form_widget(form.product, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                                </div>
                                                <div class="d-flex align-items-center fw-bold">
                                                    <div class="text-gray-400 fs-7 me-2">Escola</div>
                                                    {{ form_widget(form.school, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                                </div>
                                                <div class="d-flex align-items-center fw-bold">
                                                    <div class="text-gray-400 fs-7 me-2">Estado</div>
                                                    {{ form_widget(form.status, { attr: { class: "form-select w-200px max-w-200px form-select-transparent text-dark fs-7 lh-1 fw-bold py-0 ps-3", "data-control": "select2", "data-dropdown-css-class": "w-300px" , "data-hide-search": "true" } }) }}
                                                </div>
                                                <div class="d-flex align-items-center position-relative my-1">
                                                    <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor"></path>
                                                        </svg>
                                                    </span>
                                                    {{ form_widget(form.search, { attr: { class: "form-control form-control-solid w-350px ps-14", "data-kt-user-table-filter": "search" } }) }}
                                                </div>
                                                <button type="submit" class="btn btn-sm btn-flex h-40px py-2 bg-secondary btn-color-gray-700 btn-active-color-primary fw-bold">
                                                    <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                    Filtrar
                                                </button>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                    #}                </div>
                <div class="card-body pt-2 pb-0">
                    <table class="table table-striped align-middle table-row-dashed fs-6 gy-3">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                {#<th class="min-w-100px">ID Pagamento</th>#}
                                <th class="min-w-100px">Data</th>
                                <th class="min-w-100px">Num File</th>
                                <th class="text-end min-w-125px">Cliente</th>
                                <th class="text-end min-w-125px">Comercial</th>
                                <th class="text-end min-w-125px">Serviço</th>
                                <th class="text-end min-w-100px">Preço Venda</th>
                                <th class="text-end min-w-100px">Preço Custo</th>
                                <th class="text-end min-w-100px">Margem Bruta</th>
                                <th class="text-end min-w-100px">Comissão</th>
                                <th class="text-end min-w-100px">Comissão em valor</th>
                                <th class="text-end min-w-100px">Valor Pago</th>
                                <th class="text-end min-w-100px">Valor Pendente</th>
                                <th class="text-end min-w-100px">Metodo Pagamento</th>
                                <th class="text-end min-w-50px">Acções</th>
                            </tr>
                        </thead>
                        <tbody class="fw-bold text-gray-600">

                            {% set soma_totais = 0 %}
                            {% set soma_verdes = 0 %}
                            {% set soma_vermelhos = 0 %}
                            {% set valor_pendente = 0 %}
                            {% for pagamento_offline in pagamento_offlines %}


                                {% set soma_totais = soma_totais + pagamento_offline.precoVenda %}
                                {% set soma_verdes = soma_verdes + pagamento_offline.valorPago %}
                                {% set soma_vermelhos = soma_vermelhos + valor_pendente %}


                                <tr>
                                    <td>
                                        <div class="text-gray-800">{{ pagamento_offline.data|date("m/d/Y") }}</div>
                                    </td>
                                    <td>
                                        <div class="text-capitalize text-success">{{ pagamento_offline.numFile }}</div>
                                    </td>
                                    <td class="text-end">
                                        <div class="text-gray-800 text-capitalize">{{ pagamento_offline.cliente }}</div>
                                       
                                    </td>
                                     <td class="text-end">
                                        <span class="text-gray-800 text-capitalize">{{ pagamento_offline.comercial}}</span>
                                    </td>
                                    
                                     <td class="text-end">
                                        <span class="text-gray-800 text-capitalize">{{ pagamento_offline.servico}}</span>
                                    </td>
                                    
                               
                                    <td class="text-end">{{ pagamento_offline.precoVenda|number_format(2, ',', '.') }}€</td>
                               
                                    <td class="text-end">{{ pagamento_offline.precoCusto|number_format(2, ',', '.') }}€</td>
                               
                                    <!-- margem  bruta -->
                                    {% set margem_bruta = pagamento_offline.precoVenda - pagamento_offline.precoCusto %}
                                    <td class="text-end">{{ margem_bruta|number_format(2, ',', '.') }}€</td>
                               
                                     <td class="text-end">
                                        <span class="text-gray-800 text-capitalize">{{ pagamento_offline.comissao}}%</span>
                                    </td>
                                    
                                    <!-- comissao em valor -->
                                    {% set comissao_valor = margem_bruta * (pagamento_offline.comissao / 100) %}
                                    <td class="text-end">{{ comissao_valor|number_format(2, ',', '.') }}€</td>
                               
                                    
                                    <td class="text-end">{{ pagamento_offline.valorPago|number_format(2, ',', '.') }}€</td>
                                    
                                    {% set valor_pendente = pagamento_offline.precoVenda - pagamento_offline.valorPago %}
                                    <td class="text-end">{{ valor_pendente|number_format(2, ',', '.') }}€</td>
                                    
                                    <td class="text-success text-end">
                                        {{ pagamento_offline.metodoPagamento }}
                                    </td>
                                    <td  class="text-end">
                                        {#<a href="{{ path('app_pagamento_offline_show', {'id': pagamento_offline.id}) }}">show</a>
                                        #}
                                        <a class="btn btn-sm fw-bold btn-primary" href="{{ path('app_pagamento_offline_edit', {'id': pagamento_offline.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% endfor %}







                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="{{ path('app_pagamento_offline_new') }}">Create new</a>
                    <a class="btn btn-primary" href="/assets/pagamentos_offline.xlsx" role="button">Exportar</a>
                </div>
            </div>
            {#            {% if number_of_pages >= 1 %}
                            <ul class="pagination pagination-outline justify-content-end mt-6">
                                {% for page in range(1, number_of_pages) %}
                                    <li class="page-item {% if current_page == page %}active{% endif %}">
                                        <a class="page-link" {% if current_page != page %}
                                           href="{{ path("page_trips", { page }) }}"{% endif %}>
                                            {{ page }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
            #}        </div>
    </div>


    <script>
                    document.getElementById("soma_totais").innerHTML = '{{soma_totais|number_format(2, ',', '.')}}' + " €";
                    document.getElementById("soma_vermelhos").innerHTML = '{{soma_vermelhos|number_format(2, ',', '.') }}' + " €";
                    document.getElementById("soma_verdes").innerHTML = '{{soma_verdes|number_format(2, ',', '.') }}' + " €";
    </script>

{% endblock %}

{% block javascripts %}


{% endblock %}